---
layout: default
title: Ana Sayfa
---

<h1>Hoşgeldin!</h1>
<p>Burada kendi uğraşlarım, programlama kodlarım, oyun kodlarım ve kendi notlarım bulunmaktadır.</p>

<div style="display: flex;">
    <!-- Blog İçeriği -->
    <div style="flex: 3; padding: 10px;">
        <p> </p>
    </div>

    <!-- Sağ Sidebar (Sayfalar Listesi) -->
    <div style="flex: 1; padding: 10px; background-color: #f3f3f3; max-height: 400px; overflow-y: auto;">
        <h3>📌 Son Eklenen Sayfalar</h3>
        <ul>
            {% assign sorted_pages = site.pages | sort: "date" | reverse %}
            {% for page in sorted_pages %}
                {% if page.title and page.url contains '/pages/' %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <footer>
    <p>&copy; 2025 Kubat Bayrıbey. Tüm hakları saklıdır.</p>
    </footer>
</div>
