body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

header {
  background-color: #222;
  color: white;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 1em;
}

.sidebar {
  background-color: #222;
  padding: 10px;
  max-height: 400px;
  overflow-y: auto;
}

.sidebar ul li a {
  color: #00bfff; /* Mavi linkler */
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

/* Formlar ve Butonlar */
input, textarea, button {
  background-color: #333;
  color: white;
  border: 1px solid #555;
  padding: 10px;
  margin: 5px;
}

button:hover {
  background-color: #555;
}

/* Tablolar */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #222;
  color: white;
}

th, td {
  border: 1px solid #555;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #333;
}

/* Linkler */
a {
  color: #00bfff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
